* {
    box-sizing: border-box;
    text-decoration: none;
    margin: 0;
    padding: 0;
    border: none;
}

img,
figure {
    opacity: 0;
    animation: fadeUp 0.8s ease-in-out forwards;
}

.heart,
.snow {
    position: fixed;
    font-size: 1.5rem;
    top: 0;
    transform: translateY(0);
    animation: fall 10s linear forwards;
}

.heart-btn,
.snow-btn {
    position: fixed;
    bottom: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
}

.heart-btn {
    background-color: red;
    right: 20px;
}

.snow-btn {
    background-color: blue;
    right: 80px;
}

.heart-btn:active {
    background-color: red
}

.snow-btn:active {
    background-color: blue
}

.heart-btn i,
.snow-btn i {
    display: inline-block;
}

@keyframes fall {
    from {
        transform: translateY(-5vh) translateX(0vw);
    }

    to {
        transform: translateY(100vh) translateX(0vw);
    }
}

@keyframes fadeUp {
    from {
        transform: translateY(20px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

img:nth-child(1) {
    animation-delay: 0.1s;
}

figure:nth-child(1) {
    animation-delay: 0.2s;
}

img:nth-child(2) {
    animation-delay: 0.3s;
}

img:nth-child(3) {
    animation-delay: 0.4s;
}

figure:nth-child(2) {
    animation-delay: 0.5s;
}

