* {
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;
    margin: 0;
    padding: 0;
    border: none;
}

img,
figure {
    opacity: 0;
    animation: fadeUp 0.8s ease-in-out forwards;
}

.heart,
.snow {
    position: fixed;
    font-size: 1.5rem;
    top: 0;
    transform: translateY(0);
    animation: fall 10s linear forwards;
    z-index: 1;
}

.button-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    position: fixed;
    bottom: 15px;
    z-index: 3;
}

.button-container button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
}

.heart-btn {
    background-color: red;
}

.snow-btn {
    background-color: blue;
}

.envelope-btn {
    background-color: grey;
}

.lock-btn {
    background-color: magenta;
}

.star-btn {
    background-color: orange;
}

.heart-btn:active {
    background-color: red
}

.snow-btn:active {
    background-color: blue
}

.heart-btn i,
.snow-btn i,
.envelope-btn {
    display: inline-block;
}

#envelopeContainer {
    position: fixed;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    z-index: 2;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}


.overlay-content {
    position: fixed;
    width: 80%;
    height: 70%;
    background-color: black;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.wrapper {
    height: 200px;
    width: 300px;
    background-color: #3760C9;
    position: fixed;
    bottom: calc(50% - 200px / 2);
    left: calc(50% - 300px / 2);
    display: flex;
    justify-content: center;
    z-index: 2000;
}

.lid {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-right: 150px solid transparent;
    border-bottom: 100px solid transparent;
    border-left: 150px solid transparent;
    transform-origin: top;
    transition: transform 0.25s linear;
}

/* Lid when closed */
.lid.one {
    border-top: 100px solid #658ced;
    transform: rotateX(0deg);
    z-index: 30;
    transition-delay: 0.75s;
}

/* Lid when opened */
.lid.two {
    border-top: 100px solid #3760C9;
    transform: rotateX(90deg);
    z-index: 11;
    transition-delay: 0.5s;
}

.envelope {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-top: 100px solid transparent;
    border-right: 150px solid #C4DFF0;
    border-bottom: 100px solid #C4DFF0;
    border-left: 150px solid #a4d4f2;
    z-index: 30;
}

.letter {
    position: absolute;
    top: 0;
    left: 30px;
    width: 80%;
    height: 85%;
    background-color: white;
    border-radius: 15px;
    z-index: 20;
    transition: 0.5s;
}

.letter p {
    text-align: center;
    margin: 10px;
    color: #3B4049;
}

.wrapper.active .lid.one {
    transform: rotateX(90deg);
    transition-delay: 0s;
}

.wrapper.active .lid.two {
    transform: rotateX(180deg);
    transition-delay: 0.25s;
}

.wrapper.active .letter {
    transform: translateY(-100px);
    transition-delay: 0.5s;
}

.wrapper {
    transition: opacity 2s ease-in-out;
}

.wrapper.disappear {
    transform: translateY(-1000px);
    transition: transform 2s ease-in-out;
    transition-delay: 1s;
}

/*
.appear {
    opacity: 1;
    animation: flyIn 1s linear;
}
*/


@keyframes fall {
    from {
        transform: translateY(-5vh) translateX(0vw);
    }

    to {
        transform: translateY(100vh) translateX(0vw);
    }
}

@keyframes fadeUp {
    from {
        transform: translateY(20px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/*
@keyframes flyIn {
    0% {
        transform: translateX(150vw);
    }

    100% {
        transform: translateX(50vw);
    }
}*/

body> :nth-child(1) {
    animation-delay: 1s;
}

body> :nth-child(2) {
    animation-delay: 2s;
}

body> :nth-child(3) {
    animation-delay: 3s;
}

body> :nth-child(4) {
    animation-delay: 4s;
}

body> :nth-child(5) {
    animation-delay: 5s;
}

body> :nth-child(6) {
    animation-delay: 6s;
}

body> :nth-child(7) {
    animation-delay: 7s;
}

body> :nth-child(8) {
    animation-delay: 8s;
}

body> :nth-child(9) {
    animation-delay: 9s;
}

body> :nth-child(10) {
    animation-delay: 10s;
}

body> :nth-child(11) {
    animation-delay: 11s;
}

body> :nth-child(12) {
    animation-delay: 12s;
}

body> :nth-child(13) {
    animation-delay: 13s;
}

body> :nth-child(14) {
    animation-delay: 14s;
}

body> :nth-child(15) {
    animation-delay: 15s;
}

body> :nth-child(16) {
    animation-delay: 16s;
}

body> :nth-child(17) {
    animation-delay: 17s;
}

body> :nth-child(18) {
    animation-delay: 18s;
}

body> :nth-child(19) {
    animation-delay: 19s;
}

body> :nth-child(20) {
    animation-delay: 20s;
}

body> :nth-child(21) {
    animation-delay: 21s;
}

body> :nth-child(22) {
    animation-delay: 22s;
}

body> :nth-child(23) {
    animation-delay: 23s;
}

body> :nth-child(24) {
    animation-delay: 24s;
}

body> :nth-child(25) {
    animation-delay: 25s;
}



#pin_input {
    display: flex;
    column-gap: 8px;
}

#pin_input input {
    text-align: center;
    padding: 10px 8px 10px 8px;
    border: 1px solid #adadad;
    border-radius: 4px;
    outline: none;
    height: 64px;
    width: 50px;
}

#pin_input input:focus {
    border: 1px solid #497e76;
}

#pin_input input:focus::placeholder {
    color: transparent;
}

#pin_input input::-webkit-outer-spin-button,
#pin_input input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#pin_input input[type="number"] {
    -moz-appearance: textfield;
    /* Firefox */
}